# Auto detect text files and perform LF normalization
* text=auto

# HTML files
*.html text eol=lf

# CSS files
*.css text eol=lf

# JavaScript files
*.js text eol=lf

# Markdown files
*.md text eol=lf

# Python files
*.py text eol=lf
